.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active,
.navbar-teal {
  background-color: teal;
}

.navbar-teal a {
  color: #fff;
}

.image-user-custom {
  font-size: 25px;
}

.btn-tugas-custom {
  background-color: teal;
  position: absolute;
  bottom: 10%;
  border-color: teal;
}

.text-teal {
  color: teal;
}
